*{
	box-sizing:border-box;
}
body{
  padding-top: 3%;
	background-color:#abd9e9;
	font-family:Arial;	
}

#container1{
	width:80%;
	height:800px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}

aside{
	width:20%;
	height:100%;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
}

aside ul {
    overflow-y: scroll;
    height: 40%;
}

aside header{
	padding:30px 20px;
}
aside input {
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:90%;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
    width: 100%;
}


#message-container {
	margin-top: 2%;
    height:85%;
    width:80%;
   margin-left: 10%;
   border:3px solid #5e616a;
   padding:20px 30px 10px 20px;
   overflow-y: scroll;
  }

  #message-container div {
	background-color: #CCC;
	padding: 8px;
	
  }

  #message-container div:nth-child(2n) {
	background-color: #FFF;
  }
  #message-input {
	width:80%;
	padding: auto;
	padding:10px 0px 5px 20px;
	margin-left: 10%;
	
	
  }

#send-button {
	float: right;
	margin-top:1%;
	color: #6fbced;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background: #F2F5F8;
	
}

#send-button:hover {
	background-color: #d6dadf;
  }

  main{
	width:80%;
	height:90%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

main footer{	
	padding:20px 30px 10px 20px;
   margin-top: 1%;
}


main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
    height: 10%;
	border-radius:3px;
	padding:20px;
	font-size:18px;
}
main footer textarea::placeholder{
	color:#ddd;
}


.image{
	margin-top: 550px;
	border-radius: 50%;
	padding: 0 auto ;
	width: 20%;
	margin-left: 30%;
}

.header {
	background: #111;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.header .logo {
	font-size: 18px;
	color: #eee;
	font-weight: 600;
}

.header button {
	padding: 5px 10px;
	border: 1px solid #eee;
	background: transparent;
	color: #eee;
	font-size: 15px;
	cursor: pointer;
	outline: none;
}